<!-- <p-toast></p-toast> -->

<div class="card">
    <p-table #dt [value]="occurrences" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ocorrências registradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Ocorrencias</h5>
                
                <span class="p-input-icon-left">
                  
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" [(ngModel)]="term" (input)="dt.filterGlobal(term, 'contains')" placeholder="Search..." />
                </span>
                <button *ngIf="isLogged" pButton pRipple label="Nova Ocorrencia" icon="pi pi-plus" class="p-button-success btn-success mr-2" (click)="openNew()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th id="localColumn" scope="col" pSortableColumn="local">Ocorrencia <p-sortIcon field="local"></p-sortIcon></th>
                <!-- <th>Image</th> -->
                <th pSortableColumn="km">Km <p-sortIcon field="km"></p-sortIcon></th>
                <th id="categoryColumn" pSortableColumn="occurrence_type">Categoria <p-sortIcon field="occurrence_type"></p-sortIcon></th>
                <!-- <th id="ratingColumn" pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th> -->
                <!-- <th id="inventoryStatusColumn" pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
                <th id="occurenceDate" pSortableColumn="registered_at">Data <p-sortIcon field="registered_at"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-occurence>
            <tr>
                <td>{{occurence.local}}</td>
                <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
                <td>{{occurence.km}}</td>
                <td>{{occurence.occurrence_type}}</td>
                <td>{{occurence.registered_at | date}}</td>
                <!-- <td><p-rating [ngModel]="occurence.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                <!-- <td><span [class]="'product-badge status-' + (occurence.inventoryStatus ? occurence.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td> -->
                <!-- TODO: logic to match user with occurence -->
                <td *ngIf="isLogged">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(occurence)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(occurence)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                 {{occurrences ? occurrences.length : 0 }} Ocorrencias.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Ocorrencia" [modal]="true" styleClass="p-fluid">
   <create-occurrence [(occurrence)]="occurrence" (hide)="hideDialog()" (save)="saveProduct()"></create-occurrence>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>