<div class="field">
  <label for="local">Local</label>
  <input
    type="text"
    pInputText
    id="local"
    [(ngModel)]="occurrence.local"
    required
    autofocus
    (ngModelChange)="onOccurrenceChange()"
  />
  <small class="p-error" *ngIf="submitted && !occurrence.local"
    >Local é obrigatório</small
  >
</div>
<div class="field">
  <label for="km">KM</label>
  <p-inputNumber
    id="km"
    [useGrouping]="false"
    [min]="1"
    [max]="999"
    [(ngModel)]="occurrence.km"
    [required]="true"
    (ngModelChange)="onOccurrenceChange()"
  ></p-inputNumber>
</div>
<div class="field">
  <label for="inventoryStatus">Tipo</label>
  <p-dropdown
    [appendTo]="'body'"
    [(ngModel)]="occurrence.occurrence_type"
    inputId="inventoryStatus"
    [options]="types"
    (ngModelChange)="onOccurrenceChange()"
    placeholder="Select"
    optionLabel="description"
    optionValue="occurrence_type"
  >
    <ng-template let-type pTemplate="item">
      <span [class]="'product-badge status-' + type.occurrence_type">{{
        type.description
      }}</span>
    </ng-template>
  </p-dropdown>
</div>

<div class="formgrid grid">
  <div class="field col">
    <label for="data">Data</label>
    <p-calendar
      [appendTo]="'body'"
      id="data"
      dateFormat="dd/mm/yy"
      dataType="string"
      [(ngModel)]="occurrence.registered_at"
      (ngModelChange)="onOccurrenceChange()"
      [maxDate]="nowDate"
    ></p-calendar>
  </div>
</div>

<div class="d-flex mt-4">
  <button
    pButton
    pRipple
    label="Cancelar"
    icon="pi pi-times"
    class="p-button-text"
    (click)="hideDialog()"
  ></button>
  <button
    pButton
    pRipple
    label="Salvar"
    icon="pi pi-check"
    class="p-button-text"
    (click)="saveOccurrence()"
  ></button>
</div>
