<div class="mt-5 p-fluid row justify-content-center">
  <p-card class="col-4 pt-5">
    <ng-template pTemplate="header">
      <div class="d-flex align-items-center justify-content-between mx-3">
        <h2>{{ !showUserForm ? "Usuário" : "Editar Usuário" }}</h2>
        <button
          *ngIf="isLogged && showUserForm"
          pButton
          pRipple
          pTooltip="Remover Usuário"
          tooltipPosition="bottom"
          [icon]="'pi pi-trash'"
          class="p-button-rounded p-button-danger p-button-text me-2 edit-class ms-auto"
          (click)="deleteUser()"
        ></button>
        <button
          *ngIf="isLogged"
          pButton
          pRipple
          [pTooltip]="showUserForm ? 'Fechar' : 'Editar Usuário'"
          tooltipPosition="bottom"
          [icon]="showUserForm ? 'pi pi-times' : 'pi pi-pencil'"
          class="p-button-rounded p-button-text me-2 edit-class"
          (click)="edituser()"
        ></button>
      </div>
    </ng-template>
    <user-form
      *ngIf="isLogged"
      [editFields]="showUserForm"
      [(user)]="user"
      (save)="saveUser()"
      (hide)="showUserForm = false"
    ></user-form>
  </p-card>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
