@import '../assets/scss/variables';


.app-content{
  height: 100vh;
  
}

$scrollbar-width: 12px;

.dark-bg{
  background-color: $dark-background;
}

.wrapper-router{
  height: 100vh;
  overflow: auto;
}

.header-config {
  position: absolute;
  left: 20px + $scrollbar-width;
  top: 20px; 
  z-index: 99;
}

.server-api{
  color: $dark-text;
  opacity: 0.5;
}