<p-toast></p-toast>
<div class="side-menu d-flex flex-column h-100">
  <div class="menu-items h-100 pt-5">
    <!-- <h3>SAOITR</h3> -->
    <div class="menu-item" *ngFor="let item of menuItems">
      <div class="d-flex align-items-center p-2">
        <button
          pButton
          pRipple
          (click)="router(item.path)"
          class="p-button-primary p-button-outlined"
          [label]="item.name"
          icon="pi pi-{{ item.icon }}"
        ></button>
      </div>
    </div>
  </div>
</div>
